@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 13% 11%;
    --foreground: 210 20% 98%;
    --card: 220 13% 18%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 210 20% 98%;
    --primary: 26 95% 58%;
    --primary-foreground: 26 95% 98%;
    --secondary: 215 28% 17%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 28% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 215 28% 17%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 26 95% 58%;
    --radius: 0.75rem;

    --chart-1: 207 90% 54%;
    --chart-2: 142 71% 45%;
    --chart-3: 26 95% 58%;
    --chart-4: 288 95% 58%;
    --chart-5: 348 95% 58%;
    
    --sidebar-background: 220 13% 11%;
    --sidebar-foreground: 210 20% 96%;
    --sidebar-primary: 26 95% 58%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 215 28% 17%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 215 28% 17%;
    --sidebar-ring: 26 95% 58%;
  }

  .dark {
    --background: 220 13% 11%;
    --foreground: 210 20% 98%;
    --card: 220 13% 18%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 210 20% 98%;
    --primary: 26 95% 58%;
    --primary-foreground: 26 95% 98%;
    --secondary: 215 28% 17%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 28% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 215 28% 17%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 26 95% 58%;

    --chart-1: 207 90% 54%;
    --chart-2: 142 71% 45%;
    --chart-3: 26 95% 58%;
    --chart-4: 288 95% 58%;
    --chart-5: 348 95% 58%;

    --sidebar-background: 220 13% 11%;
    --sidebar-foreground: 210 20% 96%;
    --sidebar-primary: 26 95% 58%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 215 28% 17%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 215 28% 17%;
    --sidebar-ring: 26 95% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
